*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App p{
  margin: 10px;
  text-decoration: underline;
  font-size: 20px;
}

button{
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
}

button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}